
@media screen and (min-width: 960px) {
    .pictures{
        padding: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .image{
        margin-left: 1%;
        margin-bottom: 2%;
        width: 30%;
    }
    .project{
        color: var(--couleur-primaire);
        margin-top: 5%;
        font-size: 2.5em;
    }
    .passion{
        margin-top: 10%;
        color: var(--couleur-primaire);
        font-size: 2.5em;
    }
}
@media screen and (max-width: 960px) {
    .pictures{
        margin-top: 5%;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .image{
        margin-left: 1%;
        margin-bottom: 2%;
        width: 100%;
    }
    .passion{
        margin-top: 35%;
        color: var(--couleur-primaire);
        font-size: 2.5em;
    }
}