:root{
--color-grayBack: #f8f9fa;
}
.item-card{
    background-color:  var(--color-grayBack); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    margin-top: 25%;
    margin-bottom: 5%;
}
.cards:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
}
span{
    font-size: 1.5em;
}
.cards-title{
    font-family: var(--police);
    font-size: 1.5em;
}
.skills h2{
    color: var(--couleur-primaire);
    font-size: 3em;
    margin-bottom: 5%;
}
 .cards-text{
    font-weight: 390;
    color: black;
    font-family: var(--police);
}