
.gitLink {
    font-family: 'Prompt', sans-serif;
    color: black;
    font-size: 15px;
    padding: 10px 50px 10px 50px;
    border: 1px solid var(--couleur-primaire);
    text-decoration: none;
    border-radius: 20px;
  }
  .gitLink:hover{
    background-color: var(--couleur-primaire);
    color: white;
    
  }
  img{
    width: 50%;
  }
  .project{
    margin-top: 10%;
    font-size: 2.5em;
  }
@media screen and (min-width: 960px) {
    .carou-style{
        width: 60%;
        margin-top: 10%;
        margin-bottom: 5%;
       margin-left: 20%;
    }
    
}
@media screen and (max-width: 960px) {
    .carou-style{
        width: 85%;
        margin-left: 8%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}